header {
    background-color: #231651;
    box-shadow: 1px 1px 10px 1px black;
    padding: 10px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    z-index: 0;
}

.underlined {
    text-decoration: underline;
}

#navigation {
    width: 33%;
}

#navigation button {
    background-color: #231651;
    border: none;
    color: white;
    text-align: center;
    font-size: 20px;
}
#navigation button:hover {
    cursor: pointer;
}

a:visited, a:link {
    text-decoration: none;
    color: inherit;
}

header div {
    font-size: 20px;
    color: white;
}

#icons {
    display: flex;
    flex-direction: row-reverse;
    width: 33%;
}

.name {
    width: 33%;
    color: white;
    left: 50%;
    right: 50%;
}